@import "../../../styles/mixins";
@import "../../../styles/vars";

.aboutVideo {
  &__video {
    @include flexCol();
    flex-direction: column;
  }

  &__text {
    @include setFont(18px, 400, $color-white);
    line-height: 30px;
    text-align: center;
    padding-top: 28px;
    max-width: 1052px;
    width: 100%;
  }
}
