@import "../../../styles/mixins";
@import "../../../styles/vars";

.contacts {
  &__container {
    @include flexCol(space-between, start);
    padding-top: 50px;
    gap: 28px;

    @include lgScreenMedia {
      flex-direction: column-reverse;
    }
  }

  &__form {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  &__formCol {
    @include flexCol();
    gap: 28px;

    @include smScreenMedia {
      flex-direction: column;
      gap: 15px;
    }
  }
  &__textArea {
    height: 180px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 4;

    @include lgScreenMedia {
      flex-direction: row;
    }
  }

  &__contactItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    @include lgScreenMedia {
      flex-direction: column;
      text-align: center;
    }
  }

  &__icon {
    // width: 32px;
    height: 40px;
    margin-right: 0.75rem;
  }

  &__title {
    @include setFont(24px, 500, $color-secondary);
  }

  &__text {
    @include setFont(18px, 500, $color-secondary);
  }
}
