@import "../../../styles/mixins";
@import "../../../styles/vars";

.contacts {
  &__sectionTtitle {
    margin-bottom: 50px;

    @include lgScreenMedia {
      margin-bottom: 25px;
    }

    @include smScreenMedia {
      margin-bottom: 15px;
    }
  }

  &__container {
    // @include flexCol(space-between, start);
    // gap: 28px;

    // @include lgScreenMedia {
    //   flex-direction: column-reverse;
    // }

    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 15px;
    grid-template-areas:
      "form info"
      "form social";

    @include lgScreenMedia {
      grid-template-columns: 1fr;
      grid-template-areas:
        "info"
        "form"
        "social";
    }
  }

  &__form {
    grid-area: form;
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  &__formCol {
    @include flexCol();
    gap: 28px;

    @include smScreenMedia {
      flex-direction: column;
      gap: 15px;
    }
  }
  &__textArea {
    height: 180px;
  }

  &__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    flex: 4;

    @include lgScreenMedia {
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;
    }

    @include smScreenMedia {
      flex-direction: column;
      flex: 1;
      width: 100%;
    }

    @include lgScreenMedia {
      // flex-direction: row;
    }
  }

  &__contactItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    @include lgScreenMedia {
      flex: 1;
      gap: 5px;
    }

    @include smScreenMedia {
      margin-bottom: 15px;
    }

    @include lgScreenMedia {
      flex-direction: column;
      text-align: center;
    }
  }

  &__icon {
    height: 40px;
    margin-right: 10px;

    @include lgScreenMedia {
      height: 25px;
    }
  }

  &__title {
    @include setFont(24px, 500, $color-secondary);
    line-height: 20px;

    @include lgScreenMedia {
      font-size: 18px;
    }

    @include lgScreenMedia {
      font-size: 16px;
    }
  }

  &__text {
    @include setFont(18px, 400, $color-secondary);
    line-height: 30px;

    @include lgScreenMedia {
      font-size: 16px;
      line-height: 20px;
    }

    @include smScreenMedia {
      font-size: 14px;
    }
  }

  &__socialIconsPosition {
    grid-area: social;
    @include lgScreenMedia {
      @include flexCol();
      margin-top: 15px;
    }

    @include smScreenMedia {
      margin-top: 5px;
    }
  }

  &__socialIcons {
    gap: 25px;
  }
}
