@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.aboutVideo {
  &__videoContainer {
    @include flexCol();
    flex-direction: column;
    width: inherit;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;

    @include mdScreenMedia {
      max-width: 100%;
    }
  }

  &__video {
    width: inherit;
  }
}
