@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.aboutVideo {
  &__videoContainer {
    @include flexCol();
    flex-direction: column;
    width: inherit;
    max-width: 70%;
    margin: 0 auto;

    @include mdScreenMedia {
      max-width: 100%;
    }
  }

  &__video {
    width: inherit;
  }

  &__text {
    @include setFont(18px, 400, $color-white);
    text-align: center;
    line-height: 30px;
    padding-top: 28px;

    @include mdScreenMedia {
      max-width: 100%;
      font-size: 14px;
      line-height: 20px;
      padding-top: 15px;
    }

    @include smScreenMedia {
      font-size: 12px;
      text-align: justify;
      padding-top: 5px;
    }
  }
}
