@import "../../../styles/mixins";
@import "../../../styles/vars";

.educationScholarships {
  &__tabTitleContainer {
    display: flex;
    width: 100%;
    gap: 50px;
    border-bottom: 2px solid $color-white;
    margin-top: 50px;
    padding-bottom: 25px;
  }

  //rename
  &__whiteText {
    @include setFont(24px, 600, $color-white);
  }

  &__greyText {
    @include setFont(24px, 600, $color-grey);
  }

  &__tabContent {
    display: flex;
    width: 100%;
    border-bottom: 2px solid $color-white;
    padding: 25px 0;

    @include mdScreenMedia {
      flex-direction: column;
    }
  }

  &__text {
    @include setFont(18px, 400, $color-white);
    line-height: 30px;
    padding-top: 25px;
  }

  &__titleBlock {
    max-width: 695px;
    width: 100%;
    display: flex;
    gap: 15px;
  }

  &__title {
    @include setFont(24px, 500, $color-white);
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__description {
    @include setFont(18px, 400, $color-white);
    text-align: justify;
    line-height: 30px;
  }

  &__test {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    align-self: flex-end;
    max-width: 586px;
  }
}
