@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.tourismPackages {
  padding-top: 100px;

  @include mdScreenMedia {
    padding-top: 50px;
  }

  &__tabTitleContainer {
    display: flex;
    width: 100%;
    gap: 50px;
    border-bottom: 2px solid $color-white;
    margin-top: 50px;
    padding-bottom: 25px;
  }

  &__tabContent {
    display: flex;
    width: 100%;
    border-bottom: 2px solid $color-white;
    padding: 25px 0;

    @include mdScreenMedia {
      flex-direction: column;
    }
  }

  &__titleBlock {
    max-width: 695px;
    width: 100%;
    display: flex;
    gap: 15px;
  }

  &__icon {
    width: 39px;
    height: 40px;
  }

  &__title {
    @include setFont(24px, 500, $color-white);
    margin-bottom: 30px;
    line-height: 30px;
  }

  &__description {
    @include setFont(18px, 400, $color-white);
    text-align: justify;
    line-height: 30px;
  }
}
