doctype html
html
  body
    div(style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border: 1px solid #e4e4e4; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);')      
      p(style='color: #000000;')
        | You have received a new message from the booking form:
        br
        br
        strong Full Name:
        |  #{fullName}
        br
        strong Phone Number:
        |  #{contactNumber}
        br
        strong Service(s):
        |  #{services.join(", ")}
        br
        strong Email:
        |  #{email}
        br               
      hr(style='border: none; border-top: 1px solid #e4e4e4; margin: 20px 0;')
      p(style='color: #888888; font-size: 12px; text-align: center;')
        | This email was sent from MAMNUN Agency.
