@import "../../../styles/mixins";
@import "../../../styles/vars";

.footer {
  border-top: 2px solid $color-secondary;
  color: $color-secondary;
  padding-top: 100px;
  padding-bottom: 50px;

  &__container {
    @include flexCol(space-between, start);
    gap: 85px;
  }

  &__menuContainer {
    display: flex;
    justify-self: center;
    width: 100%;
    gap: 85px;

    // @include lgScreenMedia {
    //   gap: 40px;
    // }
  }

  &__logoBlock {
    text-align: center;
   // margin-right: 30px;

    // @include mdScreenMedia {
       
    // }
  }

  &__logoImgPosition {
    // @include mdScreenMedia {
    //   justify-content: center;
    // }
  }

  &__logoImg {
    max-width: 178px;
    width: 100%;;
    margin-bottom: 25px;
  }

  &__menuTitle {
   @include setFont(24px, 600, $color-secondary);
    margin-bottom: 15px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__menuLink {
    @include setFont(18px, 400, $color-secondary);    
    line-height: 20px;
    margin-bottom: 15px;

    &:hover {
      color: $color-primary;
      transition: $transitionEaseOut;
      cursor: pointer;
    }

    &_active {
      color: $color-primary;

      &:hover {
        cursor: default;
      }
    }
  }

  &__info {
    @include flexCol(space-between, start);
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__sociaBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__paymentsBLock {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__paymentsCard {
    display: flex;
    gap: 10px;
  }

  // Copyright

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;    
  }

  &__copyright {
    @include setFont(20px, 400, $color-secondary);
    text-align: center;
    line-height: 30px;
  }

  &__privacyBlock {
    @include flexCol(space-between, center);
    gap: 25px;

    a {
      @include setFont(20px, 400, $color-secondary);

      &:hover {
        color: $color-secondary;
        text-decoration: underline;
      }
    }
  }
}
