@import "../../../styles/mixins";
@import "../../../styles/vars";

.footer {
  color: $color-secondary;
  border-top: 2px solid $color-secondary;
  margin-top: auto;
  padding-top: 100px;
  padding-bottom: 50px;

  @include lgScreenMedia {
    padding-top: 50px;
  }

  @include smScreenMedia {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    justify-content: space-between;

    @include lgScreenMedia {
      grid-template-columns: repeat(3, 1fr);
    }

    @include smScreenMedia {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 10px;
    }
  }

  &__logoBlock {
    text-align: center;
    max-width: 174px;
    margin-right: 40px;

    @include xlScreenMedia {
      margin-right: 10px;
    }

    @include lgScreenMedia {
      margin-right: 0;
    }

    @include lgScreenMedia {
      order: 4;
    }
    @include smScreenMedia {
      order: unset;
    }
  }

  &__menuItem {
    max-width: 330px;

    @include lgScreenMedia {
      max-width: unset;
    }
    @include smScreenMedia {
      order: unset !important;
      text-align: center;
    }

    &:nth-child(1) {
      @include lgScreenMedia {
        order: 4;
      }
    }
    &:nth-child(2) {
      @include lgScreenMedia {
        order: 1;
      }
    }
    &:nth-child(3) {
      @include lgScreenMedia {
        order: 2;
      }
    }
    &:nth-child(4) {
      @include lgScreenMedia {
        order: 3;
      }
    }
    &:nth-child(1) {
      @include lgScreenMedia {
        order: 4;
      }
    }

    &:last-child {
      @include lgScreenMedia {
        grid-column: span 2 / span 2;
        order: 5;
      }

      @include smScreenMedia {
        grid-column: unset;
      }
    }
  }

  &__logoImg {
    max-width: 150px;
    margin-bottom: 25px;

    @include lgScreenMedia {
      max-width: 100px;
    }

    @include smScreenMedia {
      max-width: 70px;
      margin-bottom: 5px;
    }
  }

  &__logoImgPosition {
    justify-content: center;
  }

  &__menuTitle {
    @include setFont(24px, 600, $color-secondary);
    margin-top: 15px;
    margin-bottom: 15px;

    @include lgScreenMedia {
      margin-top: 10px;
    }

    @include smScreenMedia {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 16px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include lgScreenMedia {
      gap: 10px;
    }

    @include smScreenMedia {
      margin-bottom: 10px;
    }
  }

  &__menu a,
  &__menuLink {
    @include setFont(18px, 400, $color-secondary);
    line-height: 20px;

    @include xlScreenMedia {
      font-size: 16px;
    }

    @include smScreenMedia {
      font-size: 14px;
      line-height: 16px;
    }

    &:hover {
      color: $color-primary;
      transition: $transitionEaseOut;
      cursor: pointer;
    }

    &_active {
      color: $color-primary;

      &:hover {
        cursor: default;
      }
    }
  }

  &__info {
    @include flexCol(space-between, start);
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    @include smScreenMedia {
      gap: 10px;
    }

    @include smScreenMedia {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__sociaBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include smScreenMedia {
      justify-content: center;
      gap: 10px;
    }
  }

  &__title {
    @include setFont(20px, 600, $color-secondary);
    line-height: 20px;

    @include lgScreenMedia {
      font-size: 16px;
      font-weight: 500;
    }

    @include smScreenMedia {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__socialIcons {
    gap: 10px;

    @include smScreenMedia {
      justify-content: center;
    }
  }

  &__socialIconsItem {
    @include xlScreenMedia {
      width: 30px;
      height: 30px;
    }

    @include mdScreenMedia {
      width: 25px;
      height: 25px;
    }
  }
  &__feedback {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include smScreenMedia {
      align-items: center;
      gap: 5px;
    }
  }

  &__img {
    max-width: 183px;
    width: 100%;

    @include mdScreenMedia {
      max-width: 90px;
    }
  }

  &__imgPosition {
    display: flex;
    margin-top: 15px;

    @include smScreenMedia {
      justify-content: center;
      margin-top: 5px;
    }
  }

  &__paymentsBLock {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include smScreenMedia {
      align-items: center;
      gap: 5px;
    }
  }

  &__paymentsCard {
    display: flex;
    gap: 10px;
  }

  &__paymentsImg {
    @include lgScreenMedia {
      height: 22px;
    }
  }

  // Copyright

  &__bottom {
    display: flex;
    align-items: center;
    // justify-content: flex-end;

    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @include smScreenMedia {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__col {
    flex: 1;
    text-align: center;

    @include xlScreenMedia {
      &:first-child {
        display: none;
      }
    }

    &:nth-child(2) {
      flex: 2;
    }

    &:last-child {
      @include smScreenMedia {
        width: 100%;
      }
    }
  }

  &__copyright {
    @include setFont(18px, 400, $color-secondary);
    text-align: center;
    line-height: 30px;

    a {
      color: $color-secondary;
      &:hover {
        color: $color-grey;
      }
    }

    @include xlScreenMedia {
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
    @include smScreenMedia {
      font-size: 12px;
      text-align: center;
    }
  }

  &__privacyBlock {
    @include flexCol(end, center);
    gap: 25px;
    line-height: 16px;

    @include smScreenMedia {
      justify-content: center;
    }

    @include xsmScreenMedia {
      justify-content: space-between;
    }

    a {
      @include setFont(18px, 400, $color-secondary);
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        color: $color-grey;
      }
      @include xlScreenMedia {
        font-size: 16px;
      }
      @include smScreenMedia {
        font-size: 12px;
      }
    }
  }
}

// .tp-widget-wrapper
:global(.trustpilot-widget) {
  text-align: left !important;
}
