@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.homeReasons {
  &__cardContainer {
    margin-bottom: 200px;
    margin-top: 56px;
    @include bgWebp(
      "../../../../assets/images/home/reasons/homereasonsLinebg.png",
      "../../../../assets/images/home/reasons/homereasonsLinebg.webp"
    );
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1440/790;
    position: relative;
    @include flexCol();
    flex-direction: column;
    min-height: 600px;
    gap: 50px;
    transition: $transition;

    @include xxlScreenMedia {
      max-width: 500px;
      margin-inline: auto;
      background: none;
      aspect-ratio: unset;
    }

    &_active {
      @include xxlScreenMedia {
        @include bgWebp(
          "../../../../assets/images/home/reasons/homereasonsLinebgMob.png",
          "../../../../assets/images/home/reasons/homereasonsLinebgMob.webp"
        );
      }
    }

    @include xxlScreenMedia {
      margin-top: 25px;
      margin-bottom: 50px;
    }

    @include smScreenMedia {
      background: none;
    }
  }

  &__card {
    @include flexCol();
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    position: absolute;

    &:nth-child(1) {
      left: 0;
      top: 0;
      max-width: 390px;
    }
    &:nth-child(2) {
      right: 13.6%;
      top: 3%;
      max-width: 335px;
    }
    &:nth-child(3) {
      left: 0;
      bottom: 0;
      max-width: 422px;
    }
    &:nth-child(4) {
      left: 32%;
      bottom: 23%;
      max-width: 482px;
    }
    &:nth-child(5) {
      right: 3%;
      bottom: 15%;
      max-width: 422px;
    }

    @include xxlScreenMedia {
      position: static;
    }
  }

  &__cardIcon {
    width: 100px;
  }

  &__title {
    @include setFont(24px, 500, $color-white);
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;

    @include xxlScreenMedia {
      font-size: 20px;
    }

    @include smScreenMedia {
      // font-size: 20px;
      font-weight: 600;
    }

    @include smScreenMedia {
      font-size: 18px;
    }
  }

  &__description {
    @include setFont(18px, 400, $color-white);
    line-height: 30px;

    @include xxlScreenMedia {
      font-size: 16px;
    }

    @include smScreenMedia {
      font-size: 14px;
    }
  }
}
