@import "../../../styles/mixins";
@import "../../../styles/vars";

.swiper-slide {
  height: auto !important;
}

.swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.swiper-pagination-bullet {
  background: transparent;
  transition: $transition;
  @include setFont(20px, 400);
  width: 25px;
  height: 25px;

  &-active {
    color: $color-primary;
  }
}
