@import "../../../styles/mixins";
@import "../../../styles/vars";

.tourismServices {
  &__titleBlock {
    @include flexCol(space-between, center);
    margin-top: 100px;
    margin-bottom: 25px;

    @include lgScreenMedia {
      margin-top: 50px;
    }
    @include mdScreenMedia {
      margin-top: 25px;
    }

    @include smScreenMedia {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &_first {
      margin-top: 0;
    }

    &_reversed {
      flex-direction: row-reverse;
    }
  }

  &__arrowPicture {
    width: 60%;

    @include mdScreenMedia {
      width: 55%;
    }

    @include smScreenMedia {
      width: 35%;
    }

    @include xsmScreenMedia {
      width: 25%;
    }
  }

  &__arrowLine {
    width: 100%;

    @include smScreenMedia {
      height: 10px;
    }

    &_reversed {
      transform: rotateY(180deg);
    }
  }

  &__arrowIcon {
    @include svg(35px, 35px);
  }

  &__sectionTitle {
    @include setFont(32px, 400, $color-white);

    @include xlScreenMedia {
      font-size: 24px;
      line-height: 30px;
    }

    @include lgScreenMedia {
      font-size: 18px;
    }

    @include smScreenMedia {
      font-size: 16px;
      line-height: 20px;
    }

    @include xsmScreenMedia {
      font-size: 15px;
    }
  }

  &__cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
    min-height: 400px;

    @include lgScreenMedia {
      gap: 20px;
    }

    @include mdScreenMedia {
      gap: 10px;
    }
    @include smScreenMedia {
      gap: 5px;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 15px;
    row-gap: 10px;
    align-items: start;
    background-color: $color-white;
    border-radius: 25px;
    padding: 20px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    @include lgScreenMedia {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;
      padding: 15px;
    }

    @include smScreenMedia {
      gap: 5px;
    }
  }

  &__cardImage {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 78px;

    @include xlScreenMedia {
      width: 68px;
    }

    @include smScreenMedia {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 38px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 12px;
    }
  }

  &__cardTitle {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    align-self: start;
    @include setFont(20px, 600, $color-primary);
    line-height: 25px;
    padding-bottom: 5px;

    @include lgScreenMedia {
      font-size: 18px;
      line-height: 20px;
    }

    @include smScreenMedia {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: 16px;
      line-height: 1.2;
      align-self: center;
    }
  }

  &__cardDescription {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    @include setFont(18px, 400, $color-secondary);
    line-height: 30px;

    @include mdScreenMedia {
      font-size: 16px;
      line-height: 20px;
    }

    @include smScreenMedia {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      font-size: 16px;
    }
  }
}
