@import "../../../styles/mixins";
@import "../../../styles/vars";

.header {
  position: relative;
  @include flexCol();
  aspect-ratio: 6/2;
  text-align: center;
  background-color: $color-darkGrey;
  width: 100%;

  @include xlScreenMedia {
    aspect-ratio: 6/2.5;
  }

  @include smScreenMedia {
    //aspect-ratio: 6/4;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition;
    z-index: 1;
    opacity: 1;

    &_inactive {
      opacity: 0;
    }
  }

  &__textContainer {
    @include flexCol();
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding-bottom: 10px;
  }

  &__title {
    @include setFont(46px, 600, $color-lightPrimary);
    margin-bottom: 25px;

    @include lgScreenMedia {
      font-size: 36px;
    }

    @include smScreenMedia {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    @include setFont(23px, 400, $color-white);
    line-height: 30px;
    //padding: 0 30px;

    @include mdScreenMedia {
      font-size: 18px;
    }

    @include smScreenMedia {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
