@import "../../../styles/mixins";
@import "../../../styles/vars";

.header {
  width: 100%;
  aspect-ratio: 6/2;
  @include flexCol();
  flex-direction: column;
  background-size: cover;
  background-position: center;
  transition: $transition;
  //background-blend-mode: hue;
  //background-color: rgb(0 0 0 / 35%);
  text-align: center;

  @media (max-width: 1200px) {
    aspect-ratio: 6/2.5;
  }

  @include smScreenMedia {
    aspect-ratio: 6/4;
  }

  &_load {
    background-color: #888787;
  }

  &__title {
    @include setFont(96px, 600, $color-purple);    
    margin-bottom: 25px;    

    @include mdScreenMedia {
      //font-size: 30px;
      //margin-bottom: 12px;
    }

    @include smScreenMedia {
     // font-size: 24px;
    }
  }

  &__subtitle {
    @include setFont(23px, 400, $color-white);  
    line-height: 30px;   
    padding: 0 30px;
    
    @include mdScreenMedia {
      //font-size: 16px;
    }
  }
}