@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.adminResetPasswordWrapper__errorTxt {
  margin-top: 14px;
  @include setFont(15px, 400, #fc8e8e);
  opacity: 0;
  transition: $transition;
  white-space: nowrap;

  &_active {
    opacity: 1;
  }
}
