@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeHeader{
  position: relative;
  @include flexCol();
  aspect-ratio: 6/2;  
  text-align: center;

   @media (max-width: 1200px) {
    aspect-ratio: 6/2.5;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition;
    z-index: 1;
    opacity: 1;    
  } 
}