@import "../../../styles/mixins";
@import "../../../styles/vars";

.accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  // margin-top: 50px;

  @include mdScreenMedia {
    gap: 0;
  }

  &__header {
    @include flexCol(space-between, start);
    flex-direction: column;
    width: 100%;
    @include setFont(35px, 400, $color-white);
    text-align: left;
    line-height: 40px;
    background: transparent;
    border: 2px solid $color-white;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 25px;
    padding: 25px;
    transition: $transition;
    --textColor: #{$color-white};

    &_active {
      background-color: $color-white;
      --textColor: #{$color-secondary};
    }

    @include lgScreenMedia {
      margin-bottom: 10px;
    }

    @include smScreenMedia {
      margin-bottom: 5px;
    }
  }

  &__btn {
    @include flexCol(space-between, start);
    width: 100%;
    @include button();
  }

  &__headerWhite {
    @include setFont(35px, 400, var(--textColor));
    border: 2px solid $color-secondary;
  }

  &__titlePosition {
    @include flexCol();
    gap: 25px;
  }

  &__icon {
    width: 40px;

    @include smScreenMedia {
      width: 30px;
    }
  }

  &__title {
    color: var(--textColor);
    @include setFont(35px, 400, var(--textColor));

    @include lgScreenMedia {
      font-size: 20px;
    }

    @include smScreenMedia {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__content {
    @include setFont(18px, 400, $color-secondary);
    line-height: 30px;
    border-radius: 25px;
    // margin-top: 25px;
    animation: fadeIn 0.3s ease-in-out;
  }

  &__toggleIcon {
    width: 27px;
    height: 10px;
    flex-shrink: 0;
    stroke: $color-white;
    transition: $transition;
  }

  &__header_active &__toggleIcon {
    stroke: $color-primary;
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
