@import "../../../styles/mixins";
@import "../../../styles/vars";

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 50px;
  min-height: 200px;

  @include lgScreenMedia {
    flex-direction: column;
    gap: 10px;
  }

  @include smScreenMedia {
    gap: 5px;
  }

  &:has(&__col_6Col) {
    padding-top: 40px;
    gap: 80px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex: 6;
    gap: 25px;
    width: 100%;
    position: relative;

    @include lgScreenMedia {
      gap: 15px;
    }

    @include mdScreenMedia {
      gap: 10px;
    }

    @include smScreenMedia {
      gap: 5px;
    }

    &_sm {
      gap: 15px;

      @include lgScreenMedia {
        gap: 10px;
      }

      @include smScreenMedia {
        gap: 5px;
      }
    }

    &_6Col {
      flex: 4;
      max-width: 48%;
      @include lgScreenMedia {
        max-width: unset;
      }
    }

    &_4Col {
      max-width: 40%;

      @include lgScreenMedia {
        max-width: unset;
      }
    }
  }

  &__bgImg {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 100px;
    z-index: 0;

    @include xxlScreenMedia {
      left: -20px;
    }

    @include smScreenMedia {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__header {
    @include flexCol(space-between, start);
    flex-direction: column;
    width: 100%;
    text-align: left;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    padding: 25px;
    transition: $transition;
    gap: 5px;

    @include smScreenMedia {
      padding: 15px;
    }

    &:not(.accordion__header_inverse) {
      --textColor: #{$color-white};
      --bgColor: #{$color-secondary};
    }

    &:not(.accordion__header_inverse).accordion__header_active {
      background-color: $color-white;
      --textColor: #{$color-secondary};
      --bgColor: #{$color-white};
    }

    &.accordion__header_inverse {
      --textColor: #{$color-secondary};
      --bgColor: #{$color-white};
    }

    &.accordion__header_inverse.accordion__header_active {
      background-color: $color-secondary;
      --textColor: #{$color-white};
      --bgColor: #{$color-secondary};
    }

    &_active {
      background-color: $color-white;
      --textColor: #{$color-secondary};
      --bgColor: #{$color-white};
    }

    border: 2px solid var(--textColor);
    background-color: var(--bgColor);
  }

  &__col_sm &__header {
    gap: 5px;
  }
  &__btn {
    @include flexCol(space-between, start);
    width: 100%;
    @include button();
  }

  &__titlePosition {
    @include flexCol();
    gap: 15px;

    @include smScreenMedia {
      gap: 10px;
    }
  }

  &__sm &__titlePosition {
    gap: 15px;

    @include smScreenMedia {
      gap: 10px;
    }
  }

  &__icon {
    width: 40px;
    height: 50px;
    object-fit: contain;

    @include smScreenMedia {
      width: 30px;
      height: 40px;
    }
  }

  &__title {
    @include setFont(30px, 400, var(--textColor));
    line-height: 30px;

    @include lgScreenMedia {
      line-height: 25px;
      font-size: 22px;
    }

    @include smScreenMedia {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__header_active:not(&__header_inverse) &__title {
    color: $color-primary;
  }

  &__col_6Col &__title,
  &__col_4Col &__title {
    font-weight: 600;
  }

  &__col_sm &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    @include smScreenMedia {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__content {
    @include setFont(18px, 400, var(--textColor));
    line-height: 30px;
    border-radius: 25px;
    animation: fadeIn 0.3s ease-in-out;

    @include lgScreenMedia {
      font-size: 16px;
    }

    @include smScreenMedia {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__toggleIcon {
    width: 27px;
    height: 10px;
    flex-shrink: 0;
    stroke: var(--textColor);
    transition: $transition;
    margin-top: 15px;
    margin-left: 5px;
  }

  &__header_active &__toggleIcon {
    stroke: $color-primary;
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
