@import "../../../styles/mixins";
@import "../../../styles/vars";

.tabs {
  &__titleContainer {
    display: flex;
    width: 100%;
    gap: 50px;
    border-bottom: 2px solid $color-white;
    margin-top: 50px;
    padding-bottom: 25px;
  }

  &__active {
    @include setFont(24px, 600, $color-white);
    border-bottom: 2px solid $color-primary;
    transition: color 0.3s ease, border-color 0.3s ease;
    padding-bottom: 5px;
  }

  &__inActive {
    @include setFont(24px, 600, $color-grey);

    &:hover {
      cursor: pointer;
      color: $color-white;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    border-bottom: 2px solid $color-white;
    padding: 25px 0;
    gap: 30px;
    flex-wrap: wrap;

    @include mdScreenMedia {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__text {
    @include setFont(18px, 400, $color-white);
    line-height: 30px;
    padding-top: 25px;
  }

  &__titleBlock {
    flex: 1 1 auto;
    max-width: 854px;
    display: flex;
    gap: 15px;

    @include mdScreenMedia {
      max-width: 100%;
      width: 100%;
    }
  }

  &__icon {
    width: 39px;
    height: 40px;
  }

  &__title {
    @include setFont(24px, 500, $color-white);
    margin-bottom: 30px;
    line-height: 30px;
  }

  &__description {
    flex: 1 1 auto;
    max-width: 586px;
    @include setFont(18px, 400, $color-white);
    text-align: justify;
    line-height: 30px;

    @include mdScreenMedia {
      max-width: 100%;
      width: 100%;
    }
  }
}
