@import "../../../styles/mixins";
@import "../../../styles/vars";

.tourismBrief {
  min-height: 400px;
  overflow: hidden;

  &__content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 15px 50px;
    grid-template-areas:
      "text1 image"
      "text2 image";

    @include lgScreenMedia {
      grid-template-columns: 1fr;
      grid-template-areas:
        "text1"
        "image"
        "text2";
    }

    @include xlScreenMedia {
      column-gap: 25px;
    }

    @include smScreenMedia {
      gap: 5px;
    }
  }

  &__text1 {
    grid-area: text1;
  }

  &__text2 {
    grid-area: text2;
  }

  &__imageColumn {
    grid-area: image;
  }

  &__briefImg {
    width: 100%;
    height: auto;
    border-radius: 25px;

    @include lgScreenMedia {
      border-radius: 20px;
    }

    @include smScreenMedia {
      border-radius: 15px;
    }
  }
}
