@import "../../../styles/mixins";
@import "../../../styles/vars";

.tourismBrief {   
  
  &__content {
    display: flex;
    width: 100%;
    gap: 50px;
    padding: 100px 0;

    @include mdScreenMedia {    
      flex-direction: column;
     }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 804px;
    width: 100%;
    text-align: justify;
  }

  &__briefImg {
    max-width: 586px;
    width: 100%;
    height: auto;
  }
   
}