@import "../../../styles/mixins";
@import "../../../styles/vars";

.aboutFooter {
  &__textBlock {
    @include flexCol();
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  &__companyBlock {
    display: flex;
    flex-direction: column;
  }
  &__companyName {
    @include setFont(40px, 800, $color-secondary);
  }
}
