@import "../../../styles/mixins";
@import "../../../styles/vars";

.aboutSlider {
  padding: 100px 0;

  @include mdScreenMedia {
    padding: 50px 0;
  }

  @include smScreenMedia {
    padding: 25px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    gap: 140px;

    @include mdScreenMedia {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include smScreenMedia {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }
  }

  &__slide {
    background-color: $color-white;
    border: 2px solid $color-secondary;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    @include smScreenMedia {
      padding: 20px;
    }
  }

  &__imgWrapper {
    @include flexCol();
    margin-bottom: 20px;
    width: 100%;
  }

  &__img {
    height: 75px;
    object-fit: contain;

    @include smScreenMedia {
      height: 55px;
    }
  }

  &__description {
    @include setFont(18px, 400, $color-secondary);
    line-height: 25px;

    @include mdScreenMedia {
      font-size: 16px;
      line-height: 22px;
    }

    @include smScreenMedia {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
