@import "../../../styles/mixins";
@import "../../../styles/vars";

.socialIcons {
  display: flex;

  &__icon {
    @include svg(44px, 44px, black, black);

    &:hover {
      stroke: $color-primary;
      fill: $color-primary;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
