@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.educationOffer {
  padding-bottom: 100px;

  @include lgScreenMedia {
    padding-bottom: 50px;
  }

  @include smScreenMedia {
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    gap: 159px;

    @include mdScreenMedia {
      flex-direction: column;
    }
  }

  &__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    @include lgScreenMedia {
      padding-top: 25px;
      gap: 50px;
    }

    @include smScreenMedia {
      padding-top: 10px;
      gap: 25px;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    color: $color-secondary;
    width: 46%;

    &:nth-child(even) {
      align-self: flex-end;
    }

    &:nth-child(odd) {
      align-self: flex-start;
    }

    &:hover,
    &_active {
      // Ensure child elements inherit this
      .educationOffer__title,
      .educationOffer__description {
        color: $color-secondary;
      }
      .educationOffer__icon {
        opacity: 1;
        filter: none;
      }
    }

    @include lgScreenMedia {
      width: 100%;
    }
  }

  &__titleBlock {
    @include flexCol;
    gap: 15px;

    @include lgScreenMedia {
      justify-content: flex-start;
    }

    @include smScreenMedia {
      gap: 10px;
    }
  }

  &__icon {
    width: 40px;
    transition: $transition;
    filter: saturate(0);
    opacity: 0.5;

    @include lgScreenMedia {
      width: 30px;
    }
  }

  &__title {
    @include setFont(28px, 600, $color-lightGrey);
    transition: $transition;

    @include lgScreenMedia {
      font-size: 20px;
    }

    @include smScreenMedia {
      font-size: 18px;
    }
  }

  &__description {
    @include setFont(22px, 400, $color-lightGrey);
    text-align: justify;
    line-height: 30px;
    transition: $transition;
    margin-top: 25px;

    @include lgScreenMedia {
      font-size: 16px;
      margin-top: 10px;
    }

    @include mdScreenMedia {
      line-height: 20px;
    }

    @include smScreenMedia {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}
