@import "../../../styles/mixins";
@import "../../../styles/vars";

.servicesServices {
  padding: 100px 0;

  &__flipCard {
    width: 300px;
    height: 200px;
    perspective: 1000px; 
  }

  &__flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &__flipCard:hover &__flipCardInner {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;    
    backface-visibility: hidden;
    @include flexCol();
    @include setFont(20px, 400, $color-white);     
    background-color: #f0f0f0;    
  }

  &__back {
    background-color: #000;
    @include setFont(20px, 400, $color-white);
    transform: rotateY(180deg);
  }
  
}
