@import "../../../styles/mixins";
@import "../../../styles/vars";

.educationStories {
  &__slideContainer {
    display: flex;
    margin: 50px 0;

    @include smScreenMedia {
      flex-direction: column;
    }
  }

  &__slide {
    max-width: 778px;
    //width: 100%;
    @include setFont(18px, 400, $color-secondary);
    line-height: 25px;
    background-color: $color-white;
    border: 1px solid $color-secondary;
    border-radius: 25px;
    box-shadow: 6px 6px 23px 0 rgba(0, 0, 0, 0.25);
    margin: 50px 25px;
  }

  &__slideDescription {
    @include setFont(18px, 400, $color-secondary);
    line-height: 25px;
    padding: 25px;
  }

  &__slideLine {
    border: none;
    border-top: 2px solid $color-secondary;
    outline: 0;

    @include smScreenMedia {
      border-top: 1px solid $color-secondary;
    }
  }

  &__storyContainer {
    @include flexCol(space-between, center);
    padding: 25px;
  }

  &__storyBLock {
    @include flexCol();
    gap: 15px;
  }

  &__storyInfo {
    @include flexCol(center, start);
    flex-direction: column;
    gap: 3px;
  }

  &__studientName {
    @include setFont(18px, 500, $color-secondary);
  }

  &__storyTitle {
    @include setFont(18px, 400, $color-secondary);
  }

  &__storyImg {
    max-width: 70px;
    height: auto;
    border-radius: 50px;
  }

  &__starBlock {
    display: flex;
  }

  &__starIcon {
    @include svg(30px, 30px);
    margin-left: 5px;
  }
}
