@import "../../../styles/mixins";
@import "../../../styles/vars";

.educationStories {
  &__slideContainer {
    display: flex;
    gap: 50px;

    @include mdScreenMedia {
      gap: 25px;
    }
  }

  &__slider {
    padding-bottom: 50px !important;

    @include smScreenMedia {
      padding-inline: 20px !important;
    }
  }

  &__slide {
    @include setFont(18px, 400, $color-secondary);
    line-height: 25px;
    background-color: $color-white;
    border: 1px solid $color-secondary;
    border-radius: 25px;
    box-shadow: 6px 6px 23px 0 rgba(0, 0, 0, 0.25);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
  }

  &__slideDescription {
    @include setFont(18px, 400, $color-secondary);
    line-height: 25px;
    padding: 25px;
    flex: 1;
    @include mdScreenMedia {
      line-height: 20px;
      padding: 15px;
    }

    @include smScreenMedia {
      font-size: 14px;
    }
  }

  &__slideLine {
    border: none;
    border-top: 2px solid $color-secondary;
    outline: 0;

    @include smScreenMedia {
      border-top: 1px solid $color-secondary;
    }
  }

  &__storyContainer {
    @include flexCol(space-between, center);
    padding: 25px;
    min-height: 128px;
    @include smScreenMedia {
      padding: 15px;
    }
  }

  &__storyBLock {
    @include flexCol();
    gap: 15px;
  }

  &__storyInfo {
    @include flexCol(center, start);
    flex-direction: column;
    gap: 3px;
  }

  &__studientName {
    @include setFont(18px, 500, $color-secondary);
    line-height: 25px;

    @include smScreenMedia {
      font-size: 14px;
    }

    @include smScreenMedia {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__storyTitle {
    @include setFont(18px, 400, $color-secondary);
    line-height: 25px;

    @include mdScreenMedia {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__storyImg {
    width: 70px;
    border-radius: 50px;

    @include smScreenMedia {
      width: 50px;
    }
  }

  &__starBlock {
    display: flex;
  }

  &__starIcon {
    width: 30px;
    height: 30px;
    margin-left: 5px;

    @include mdScreenMedia {
      width: 30px;
      height: 30px;
    }

    @include smScreenMedia {
      width: 14px;
      height: 14px;
    }
  }

  &__sliderNavigation {
    @include flexCol(space-between);
    gap: 10px;
    transform: translateY(50%);

    @include lgScreenMedia {
      padding-inline: 20px;
    }
    @include smScreenMedia {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &__sliderNavBtn {
    @include button();
    position: relative;
    z-index: 15;
    & svg {
      width: 10px;
      height: 27px;
    }
  }
  &__pagination {
    @include flexCol(space-around);
  }
}

:global(.swiper-pagination) {
  width: calc(100% - 70px) !important;
  left: 35px !important;
}
