@import "../../../styles/vars";
@import "../../../styles/mixins";

.tooltip {
  position: fixed;
  top: 100px;
  z-index: 999999;
  width: 100%;
  @include flexCol();

  &__main {
    background: $color-white;
    border-radius: 10px;
    box-shadow: 3px 3px 40px 0px #10141d33;
    @include flexCol();
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid $color-primary;
  }

  &__txt {
    @include setFont(16px, 400);
  }

  &__closeBtn {
    @include button(transparent, 1px solid $color-primary);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    @include flexCol();
  }

  &__crossIcon {
    @include svg(12px, $color-primary);
  }
}

@keyframes anim {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
