@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeBrief {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 40px;
  width: 100%;

  @include mdScreenMedia {
    grid-template-columns: 1fr;
  }

  @include xlScreenMedia {
    row-gap: 25px;
  }

  @include smScreenMedia {
    row-gap: 5px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }

  &__missionImg,
  &__valuesImg {
    width: 100%;
    height: auto;
    border-radius: 25px;

    @include lgScreenMedia {
      border-radius: 20px;
    }

    @include smScreenMedia {
      border-radius: 15px;
    }
  }
}
