@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeBrief {
  // min-height: 400px;
  // overflow: hidden;

  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // column-gap: 50px;
  // row-gap: 40px;
  // width: 100%;

  // @include lgScreenMedia {
  //   row-gap: 25px;
  //   column-gap: 25px;
  // }

  // @include mdScreenMedia {
  //   grid-template-columns: 1fr;
  // }

  // @include smScreenMedia {
  //   row-gap: 5px;
  // }

  &__content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 50px;
    grid-template-areas:
      "text1 image"
      "text2 image";

    @include lgScreenMedia {
      grid-template-columns: 1fr;
      grid-template-areas:
        "text1"
        "image"
        "text2";
    }

    @include xlScreenMedia {
      gap: 25px;
    }

    @include smScreenMedia {
      gap: 5px;
    }
  }
  &__text1 {
    grid-area: text1;
  }

  &__text2 {
    grid-area: text2;
  }

  &__imageColumn {
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;

    @include smScreenMedia {
      gap: 5px;
    }
  }

  &__briefImg {
    width: 100%;
    height: auto;
    border-radius: 25px;

    @include lgScreenMedia {
      border-radius: 20px;
    }

    @include smScreenMedia {
      border-radius: 15px;
    }
  }

  &__btn {
    @include lgScreenMedia {
      width: 70%;
      margin: 0 auto;
    }
    @include mdScreenMedia {
      width: 100%;
    }
  }
}
