@import "../../../styles/mixins";
@import "../../../styles/vars";

.servicesTraveller {
  overflow: hidden;
  width: 100%;

  &__cardContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: visible;
    min-height: 500px;

    @include lgScreenMedia {
      gap: 15px;
    }

    @include smScreenMedia {
      gap: 5px;
    }
  }

  &__card {
    position: relative;
    transition: $transition;
    overflow: visible;
    border-radius: 20px;
    --height: 350px;
    height: var(--height);
    min-height: var(--height);

    @include xlScreenMedia {
      --height: 300px;
    }

    @include lgScreenMedia {
      --height: 250px;
    }

    @include smScreenMedia {
      margin-bottom: 10px;
    }

    /* Show back with fade on hover */
    &:hover .servicesTraveller__cardBack {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
    height: var(--height);
    min-height: var(--height);
    border-radius: 20px;
  }

  &__cardFront,
  &__cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.25);
    min-height: var(--height);
  }

  &__cardFront {
    @include flexCol(end, center);
    background-color: $color-darkGrey;

    @include xlScreenMedia {
      aspect-ratio: 6/2.5;
    }

    @include smScreenMedia {
      justify-content: center;
      border-radius: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    &_reversed {
      justify-content: flex-start;

      @include smScreenMedia {
        justify-content: center;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 20px;
    }
  }

  &__cardFrontTitle {
    @include setFont(32px, 600, $color-white);
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;

    @include mdScreenMedia {
      font-size: 24px;
      text-align: center;
    }

    @include smScreenMedia {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__cardBack {
    background-color: $color-white;
    border: 4px solid $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    z-index: 3;

    box-sizing: border-box;
    height: 100%;
    min-height: var(--height);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1.2s ease, visibility 0.1s ease;

    @include mdScreenMedia {
      padding: 15px;
    }

    @include smScreenMedia {
      border: 2px solid $color-secondary;
      border-radius: 10px;
      padding: 10px;
    }
  }

  &__cardBackTitle {
    @include setFont(32px, 600, $color-secondary);
    line-height: 30px;
    margin-bottom: 10px;

    @include mdScreenMedia {
      font-size: 24px;
      margin-bottom: 5px;
    }

    @include smScreenMedia {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__cardBackTextBlock {
    @include flexCol();
    flex-direction: column;
  }

  &__cardBackText {
    @include setFont(22px, 400, $color-secondary);
    line-height: 30px;
    margin-bottom: 25px;

    @include lgScreenMedia {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    @include smScreenMedia {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition;
    z-index: 1;
    opacity: 1;
    border-radius: 20px;

    &_inactive {
      opacity: 0;
    }
  }

  &__btn {
    max-width: 300px;
    margin: 0 auto;

    @include lgScreenMedia {
      max-width: 255px;
    }

    @include smScreenMedia {
      max-width: 100%;
    }
  }
}
