@import "../../../styles/mixins";
@import "../../../styles/vars";

.aboutHeader {    

   &__content {
    display: flex;
    width: 100%;
    margin-bottom: 200px;;
    gap: 160px;
  }

  &__title {
    @include setFont(34px, 600, $color-purple); 
    text-align: left;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 804px;
    width: 100%;
    text-align: justify;
    padding-top: 150px
  }

  // &__briefImg {
  //   max-width: 586px;
  //   width: 100%;
  //   height: auto;
  // }
  
  &__logoAnim {
    max-width: 375px;
    height: auto;
    order: 2; 

    @include mdScreenMedia {
       order: 1;    
    }  
   // width: 100%;
  }

  &__firstParagraph {
   order: 0;   
  }

  &__secondParagraph {
   order: 1;  
    @include mdScreenMedia {
      order: 2;    
    }   
  }

  
  &__briefContainer {
    display: flex;
    gap: 48px;

    @include mdScreenMedia {
      flex-direction: column;    
    }    
  } 

   &__briefBlock {
    @include flexCol();     
    flex-direction: column;   
      
    min-height: 249px;
    @include setFont(18px, 400, $color-black);   
    background-color: $color-white; 
    border: 3px solid $color-black;
    border-radius: 25px;
    
    padding: 25px;
   //box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    //margin: 50px 25px;
  }

  &__description {
    @include setFont(18px, 400, $color-black);
    text-align: justify;
    line-height: 25px;    
    padding-top: 50px;    
  }
}