@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.adminNewsAddEditModal {
  height: 578px;
  padding: 16px 20px 10px;
  overflow: hidden;
  max-width: 900px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow: hidden;
  }
  &__col {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 15px;
    overflow: hidden;

    &_fields {
      flex: 1;

      @include smScreenMedia {
        grid-template-rows: 4fr 6fr;
        grid-template-columns: 1fr;
      }
    }
  }
  &__attachFile {
    flex: 1;
    border-radius: 25px;
    @include flexCol();
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 3px solid transparent;
    transition: $transition;
    background-color: $color-lightGrey;
    position: relative;
    &_attached {
      border-color: $color-primary;
      background-color: rgba(34, 39, 50, 0.425);
    }

    &_invalid {
      border-color: $color-red;
    }
    & svg {
      width: 30%;
    }
  }
  &__fileImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__fileInput {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &__formMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }

  &__textArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $color-lightGrey;
    outline: none;
    border: 3px solid transparent;
    border-radius: 25px;
    transition: $transition;
    @include setFont(18px, 400);
    padding-bottom: 10px;
    :global(.ql-container) {
      flex: 1;
      overflow: hidden;
      font-size: 16px;
    }
    :global(.ql-editor) {
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #1c1b1b;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-primary;
        border-radius: 2px;
      }

      &::-moz-scrollbar {
        width: 4px;
      }

      &::-moz-scrollbar-track {
        background: #1c1b1b;
      }

      &::-moz-scrollbar-thumb {
        background: $color-primary;
        border-radius: 5px;
      }
    }
  }
}
