@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.educationRequirements {
  &__sliderContainer {
    position: relative;
    width: 100%;
  }

  &__bgLines {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    @include flexCol(space-between);

    & svg {
      width: 100%;
      height: 100%;
    }

    &:not(&_mob) {
      aspect-ratio: 1440/150;

      @include lgScreenMedia {
        display: none;
      }
    }

    &_mob {
      aspect-ratio: 708/110;
      display: none;

      @include lgScreenMedia {
        display: flex;
      }
    }
  }

  &__navBtn {
    @include button();
    width: 10px;
    height: 27px;
    position: relative;
    z-index: 9;
    transition: $transition;

    &:hover {
      transform: scale(1.4);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__slider {
    width: 100%;
    @include lgScreenMedia {
      padding-inline: 10px !important;
    }

    @include mdScreenMedia {
      display: none !important;
    }
  }

  &__mobWrapper {
    display: none;

    @include mdScreenMedia {
      flex-direction: column;
      @include flexCol();
    }
  }

  &__stepContainer {
    @include flexCol();
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    max-width: 233px;
    text-align: center;
    align-items: center;
    position: relative;
  }

  &__circle {
    width: 62%;
    aspect-ratio: 1/1;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 60px;

    @include mdScreenMedia {
      width: 100px;
    }
  }

  &__flipInner {
    width: 66%; // initial smaller circle size
    aspect-ratio: 1/1;
    position: relative; // Ensure parent is relative
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out, width 0.4s ease, height 0.4s ease;
    border-radius: 50%;
    border: 5px solid #575757;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;

    @include smScreenMedia {
      border-width: 3px;
    }
  }

  &__stepContainer:hover &__flipInner {
    width: 100%;
    aspect-ratio: 1/1;
    transform: rotateY(-180deg);
    border-color: $color-secondary;
  }

  &__front,
  &__back {
    top: 0; // <-- Add this line
    left: 0; // <-- Add this line
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    border-radius: 50%;
    @include flexCol();
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    will-change: transform;
    transform-style: preserve-3d;
  }

  &__front {
    z-index: 2;
    border: none;
    z-index: 0;
  }

  &__back {
    transform: rotateY(180deg);
    padding: 5px;
    @include flexCol();
    border: none;
    z-index: 3;
  }

  &__step {
    @include setFont(40px, 500, #575757);
    line-height: 30px;

    @include smScreenMedia {
      font-size: 24px;
      line-height: 20px;
    }
  }

  &__iconPicture {
    height: 60%;
    min-width: 26px;
  }

  &__icon {
    width: 100%;
    object-fit: contain;
    display: block;
    transform: translateZ(2px);
    perspective: inherit;
  }

  &__title {
    @include setFont(24px, 500, #575757);
    line-height: 30px;
    width: 100%;
    transition: $transition;

    @include xlScreenMedia {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__stepContainer:hover &__title {
    color: $color-secondary;
  }
}
