@import "../../../styles/mixins";
@import "../../../styles/vars";

.servicesBook {
  &__formContainer {
    @include flexCol();
    width: 100%;
  }

  &__form {
    max-width: 828px;
    width: 100%;
  }

  &__formBtn {
    width: 100%;
  }

  &__formTitle {
    @include setFont(26px, 600, $color-secondary);
    margin-bottom: 25px;
    line-height: 30px;

    @include mdScreenMedia {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    @include mdScreenMedia {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
