@import "../../../styles/mixins";
@import "../../../styles/vars";

.servicesBook {
  &__formContainer {
    @include flexCol();
    width: 100%;
  }

  &__form {
    max-width: 828px;
  }

  &__formBtn {
    width: 100%;
  }

  &__formTitle {
    @include setFont(28px, 600, $color-secondary);
    margin-bottom: 15px;
    line-height: 30px;
  }
}
