@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  color: $color-secondary;
  background-color: $color-white;

  //  Scrollbar
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #1c1b1b;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 2px;
  }

  &::-moz-scrollbar {
    width: 21px;
  }

  &::-moz-scrollbar-track {
    background: #1c1b1b;
  }

  &::-moz-scrollbar-thumb {
    background: $color-primary;
  }
}

.thinScrollbar {
  // Body Scrollbar
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #1c1b1b;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 2px;
  }

  &::-moz-scrollbar {
    width: 4px;
  }

  &::-moz-scrollbar-track {
    background: #1c1b1b;
  }

  &::-moz-scrollbar-thumb {
    background: $color-primary;
    border-radius: 5px;
  }
}

a {
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

// Text

.textPrimary {
  color: $color-primary;
}

.textWhite {
  color: $color-white;
}

.textRed {
  color: $color-red;
}

.textMain {
  @include setFont(20px, 400, $color-secondary);
  text-align: justify;
  line-height: 30px;

  @include xlScreenMedia {
    font-size: 16px;
  }

  @include smScreenMedia {
    font-size: 14px;
  }
}

// Titles
.titlePrimaryH1 {
  @include setFont(48px, 600, $color-primary);
  line-height: 45px;
}

.titlePrimaryH2 {
  color: $color-primary;
}

.titleSecondaryH2 {
  color: $color-secondary;
}

.titleWhiteH2 {
  color: $color-white;
}

.titlePrimaryH2,
.titleSecondaryH2,
.titleWhiteH2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;

  @include xlScreenMedia {
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
  }

  @include smScreenMedia {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
}

.titlePrimaryH3 {
  @include setFont(32px, 600, $color-primary);
  line-height: 37px;

  @include xlScreenMedia {
    font-size: 28px;
    line-height: 30px;
  }

  @include lgScreenMedia {
    font-size: 24px;
  }

  @include smScreenMedia {
    font-size: 20px;
    line-height: 20px;
  }
}

.titleSecondaryH3 {
  @include setFont(36px, 600, $color-secondary);
}

.titleSecondaryH4 {
  @include setFont(20px, 600, $color-secondary);
}

.wrapperBlack {
  width: 100%;
  background-color: $color-secondary;
}

.wrapperWhite {
  width: 100%;
  background-color: $color-white;
}

.width75 {
  width: 75%;
}

.width60 {
  width: 60%;

  @include mdScreenMedia {
    width: 100%;
  }
}

.width40 {
  width: 40%;
  @include mdScreenMedia {
    width: 100%;
  }
}

.width25 {
  width: 25%;
}

.wrapperPadding {
  padding: 100px 0;

  @include xlScreenMedia {
    padding: 50px 0;
  }

  @include smScreenMedia {
    padding: 25px 0;
  }
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mdScreenMedia {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include smScreenMedia {
    padding-left: 20px;
    padding-right: 20px;
  }
}
