@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  color: $color-secondary;
  background-color: $color-white;

  // Body Scrollbar

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #1c1b1b;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 2px;
  }

  &::-moz-scrollbar {
    width: 21px;
  }

  &::-moz-scrollbar-track {
    background: #1c1b1b;
  }

  &::-moz-scrollbar-thumb {
    background: $color-primary;
  }
}

a {
  text-decoration: none;
}

#root {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.textPurple {
  color: $color-primary;
}

.textRed {
  color: $color-red;
}

// Titles
.titlePurpleh1 {
  @include setFont(125px, 600, $color-primary);
  line-height: 100px;
}

.titleWhiteh2 {
  @include setFont(65px, 600, $color-white);
}

.titleBlackh2 {
  @include setFont(65px, 600, $color-secondary);
}

.titlePurpleh2 {
  @include setFont(65px, 600, $color-primary);
}


.titleWhiteh2, .titleBlackh2, .titlePurpleh2 {

   @include mdScreenMedia {    
    font-size: 32px;
    font-weight: 500;
  }

  @include smScreenMedia {       
     font-size: 24px;
     font-weight: 500;
  }
}


.titlePurpleh3 {
  @include setFont(36px, 600, $color-primary);
}

.titleBlackh3 {
  @include setFont(36px, 600, $color-secondary);
}

.titleBlackh4 {
  @include setFont(20px, 600, $color-secondary);
}

// Button

.btnPrimary {
  @include flexCol();
  background: transparent;
  outline: 2px solid $color-primary;
  border-radius: 30px;
  @include setFont(18px, 700, $color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {   
    background: linear-gradient(180deg, #8c52ff 0%, #b164ff 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset -5px -5px 20px 0 rgba(0, 0, 0, 0.25), inset 5px 5px 20px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(255, 255, 255, 0.25);
  }

  &:active {   
    background: linear-gradient(
      to bottom,
      #8c52ff 0%,
      #8c52ff 50%,
      #b164ff 100%
    );
  }
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  /*
  @include xlScreenMedia {
    max-width: 960px;
  }

  @include lgScreenMedia {
    max-width: 820px;
  }

  @include mdScreenMedia {
    max-width: 640px;
  }*/

  @include smScreenMedia {
    //max-width: 360px;
    //padding-left: 16px;
    // padding-right: 16px;
  }
}

.wrapperBlack {
  width: 100%;
  background-color: $color-secondary;
}

.wrapperWhite {
  width: 100%;
  background-color: $color-white;
}

.leftWidth {
  width: 60%;
}

.righttWidth {
  width: 40%;
  
}


