// media

$xsm-screen: 360px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;

// font
$font-family: "Montserrat", sans-serif;

// Transition
$transition: all 0.3s;

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-red: #e53935;
 



$color-lightGreen: #c7fe62;  