// media

$xsm-screen: 360px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;

// font
$font-family: "Montserrat", sans-serif;


// Transition 
$transition: all 0.3s; 
$transitionEaseOut: all 0.3s ease-out 0s;     

// colors

$color-white: #ffffff;
$color-black: #000000;
$color-purple: #8C52FF;
$color-lightPurple: #B164FF; // Title on top banner
$color-grey: #919191;
$color-lightGrey:#E5E5E5; //E2E2E2 - form field
$color-darkGrey: #575757;

$color-red: #e53935;