@import "../../../styles/mixins";
@import "../../../styles/vars";

.headerMenu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $color-secondary;
  transition: $transition;

  &__container {
    @include flexCol(space-between);
    display: flex;
    align-items: center;

    @include smScreenMedia {
      //padding: 20px;
    }
  }

  &__logoImg {
    width: 100%;
    max-width: 93px;
    height: auto;

    @include lgScreenMedia {
      //padding-right: 20px;
    }
  }

  // Desktop & Mobile Menu
  &__menu {
    display: flex;
    gap: 58px;

    @include smScreenMedia {
      display: none;
      gap: 30px;
    }

    &_open {
      display: flex;
      flex-direction: column;
      align-items: start;
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      z-index: 3;
      max-width: 193px;
      width: 100%;
      background-color: $color-secondary;
      border-radius: 5px;
      padding-top: 150px;
      padding-left: 20px;

      @include smScreenMedia {
        max-width: 100%;
        height: 100vh;
        //justify-content: center;
      }
    }
  }

  &__menuLink {
    @include setFont(18px, 500, $color-white);
    // margin-left: 58px;;

    &:hover {
      //color: $color-primary;
      cursor: pointer;
      transition: $transitionEaseOut;
      //text-decoration: underline;
    }

    &_active {
      color: $color-white;
      text-decoration: underline;
      //border-bttom: 2px solid $color-primary;

      &:hover {
        cursor: default;
      }
    }
  }

  &__btnBurger {
    background: none;
    display: none;

    @include smScreenMedia {
      display: block;
    }
  }

  &__burgerIcon {
    @include svg(27px, $color-white);

    &:hover {
      fill: $color-primary;
      cursor: pointer;
      transition: $transition;
    }

    @include smScreenMedia {
      @include svg(24px, $color-white);
    }
  }

  &__btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  &__crossIcon {
    @include svg(40px, $color-white);

    &:hover {
      fill: $color-primary;
      transition: $transition;
    }
  }

  // Overlay Effect
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}
